@keyframes scaleAnimation {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1.05);
      opacity: 1;
    }
  }


.projectsContainer {
    height: 500px;
    width: 100%;
    margin: auto;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(75, 107, 129, 0.5);
        box-shadow: 0 1px 3px rgba(0, 3, 5, 0.5);
    .projectCard {
        width: 33.3%;
        height: 100%;
        background-color: red;
        display: flex;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .content {
            height: 100%;
            width: 100%;
            margin-left: -100%;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .stacks {
                transition: all 0.2s;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .linkButton {
                    color: transparent;
                    transition: all 0.2s;
                    font-size: 30px;
                }
                &:hover {
                    background-color: rgba($color: #fafdff, $alpha: 0.2);
                    backdrop-filter: blur(6px);
                }
                &:hover .linkButton{
                    color: var(--text);
                    font-size: 34px;
                }
            }
            .textContent {
                box-shadow: 0 -10px 40px rgba($color: #000305, $alpha: 0.8);
                background-color: rgba($color: #fafdff, $alpha: 0.9);
                display: flex;
                justify-content: space-between;
                align-items: center;
                .blocLeft {
                    padding: 10px;
                }
                .ghButtonContainer {
                    display: flex;
                    height: 100%;
                    &:hover .ghButtonTxt {
                        transform: translate(0px);
                        opacity: 1;
                    }
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--dmtext);
                        height: 100%;
                        padding: 0 20px;
                        background-color: var(--dmbackground);
                        border-right: 1px solid;
                        transform: translateX(195px);
                        transition: all 0.25s;
                        opacity: 0;
                        font-weight: 400;
                    }
                    .iconContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        padding: 0 20px;
                        background-color: var(--dmbackground);
                        font-size: 40px;
                        z-index: 1;
                        .fa-github {
                            color: var(--dmtext);
                            animation: scaleAnimation 1.2s infinite alternate;

                        }
                    }
                }
            }
        }
    }
}