.titleContainer {
    background-color: black;
    color: var(--text);
    font-weight: 100;
    display: flex;
    justify-content: flex-end;
}
.sectionTitle {
    background-color: var(--dmbackground);
    color: var(--dmtext);
    width: 300px;
    text-align: center;
    height: 40px;
}
