.skillsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    box-shadow: var(--boxshdw);
    background-color: var(--background05);
    border-right: var(--border);
    position: relative;
    height: 100%;
    @media only screen and (max-width: 767px) {
        flex-direction: column;
        background-color: var(--background);  
        margin-bottom: 20px;         
    }
    @media only screen and (max-width: 1023px) {
        align-items: start;
      }
    .stacksTitle {
        margin: 20px 0 40px 0;
        padding: 10px 20px;
        color: var(--text);
        width: fit-content;
        background-color: var(--background);
        font-weight: 600;
        position: absolute;
        top: 0;
        @media only screen and (max-width: 1023px) {
            font-size: 18px;
            margin: 0;
          }
        @media only screen and (max-width: 767px) {
            font-size: 20px;
            margin: 10px 0;
          }
        
    }
    .stacks {
        height: 100%;
        width: 40%;
        color: var(--text);
        @media only screen and (max-width: 1023px) {
                width: 20%;
        }
        @media only screen and (max-width: 767px) {
            padding: 0 20px;
            width: 100%;
            margin: auto;       
        }
        .stacksIcons {
            width: 86%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 1023px) {
             flex-direction: column;
             width: auto;
             margin: 60px 0 20px 0;   
            }
            @media only screen and (max-width: 767px) {
                flex-direction: row;
                margin: 60px 0 20px 0;
              }
            img {
                height: 4.6vw;
                width: auto;
                filter: invert(1);
                opacity: 0.9;
                @media only screen and (max-width: 1023px) {
                 margin-bottom: 6px;
                }
                @media only screen and (max-width: 767px) {
                    height: 30px;
                }
            }
        }
    }
    .competences {
        background-color: var(--text);
        width: 60%;
        height: 100%;
        padding: 20px 20px;
        @media only screen and (max-width: 1023px) {
            width: 80%;
            flex-grow: 1;
            min-height: 400px;       
        }
        @media only screen and (max-width: 767px) {
            width: 100%;

        }
        * {
            color: var(--background);
        }
        h2 {
            @media only screen and (max-width: 767px) {
                font-size: 20px;
              }
        }
        .skillsBloc {
            padding: 20px;
            display: flex;
            justify-content: space-around;
            @media only screen and (max-width: 1023px) {
                padding: 10px;
            }
            @media only screen and (max-width: 767px) {
                padding: 10px 2px;
                justify-content: space-between;
                flex-direction: column;
              }
            
              
            div {
                width: 30%;
                @media only screen and (max-width: 767px) {
                    width: 100%;
                }
                h3 {
                    margin-bottom: 10px;
                    @media only screen and (max-width: 767px) {
                        font-size: 18px;
                      }
                      
                }
                p {
                    @media only screen and (max-width: 1023px) {
                        font-size: 16px;
                        
                    }
                    @media only screen and (max-width: 767px) {
                        font-size: 14px;
                        margin-bottom: 14px;
                      }
                      
                }
            }
        }
    }
}