.skillsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: var(--border);
  box-shadow: var(--boxshdw);
  background-color: var(--background05);
  border-right: var(--border);
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .skillsContainer {
    flex-direction: column;
    background-color: var(--background);
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .skillsContainer {
    align-items: start;
  }
}
.skillsContainer .stacksTitle {
  margin: 20px 0 40px 0;
  padding: 10px 20px;
  color: var(--text);
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--background);
  font-weight: 600;
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 1023px) {
  .skillsContainer .stacksTitle {
    font-size: 18px;
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .skillsContainer .stacksTitle {
    font-size: 20px;
    margin: 10px 0;
  }
}
.skillsContainer .stacks {
  height: 100%;
  width: 40%;
  color: var(--text);
}
@media only screen and (max-width: 1023px) {
  .skillsContainer .stacks {
    width: 20%;
  }
}
@media only screen and (max-width: 767px) {
  .skillsContainer .stacks {
    padding: 0 20px;
    width: 100%;
    margin: auto;
  }
}
.skillsContainer .stacks .stacksIcons {
  width: 86%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .skillsContainer .stacks .stacksIcons {
    flex-direction: column;
    width: auto;
    margin: 60px 0 20px 0;
  }
}
@media only screen and (max-width: 767px) {
  .skillsContainer .stacks .stacksIcons {
    flex-direction: row;
    margin: 60px 0 20px 0;
  }
}
.skillsContainer .stacks .stacksIcons img {
  height: 4.6vw;
  width: auto;
  filter: invert(1);
  opacity: 0.9;
}
@media only screen and (max-width: 1023px) {
  .skillsContainer .stacks .stacksIcons img {
    margin-bottom: 6px;
  }
}
@media only screen and (max-width: 767px) {
  .skillsContainer .stacks .stacksIcons img {
    height: 30px;
  }
}
.skillsContainer .competences {
  background-color: var(--text);
  width: 60%;
  height: 100%;
  padding: 20px 20px;
}
@media only screen and (max-width: 1023px) {
  .skillsContainer .competences {
    width: 80%;
    flex-grow: 1;
    min-height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .skillsContainer .competences {
    width: 100%;
  }
}
.skillsContainer .competences * {
  color: var(--background);
}
@media only screen and (max-width: 767px) {
  .skillsContainer .competences h2 {
    font-size: 20px;
  }
}
.skillsContainer .competences .skillsBloc {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1023px) {
  .skillsContainer .competences .skillsBloc {
    padding: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .skillsContainer .competences .skillsBloc {
    padding: 10px 2px;
    justify-content: space-between;
    flex-direction: column;
  }
}
.skillsContainer .competences .skillsBloc div {
  width: 30%;
}
@media only screen and (max-width: 767px) {
  .skillsContainer .competences .skillsBloc div {
    width: 100%;
  }
}
.skillsContainer .competences .skillsBloc div h3 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .skillsContainer .competences .skillsBloc div h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1023px) {
  .skillsContainer .competences .skillsBloc div p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .skillsContainer .competences .skillsBloc div p {
    font-size: 14px;
    margin-bottom: 14px;
  }
}/*# sourceMappingURL=skills.css.map */