.homeContainer {
    display: flex;
    height: calc(100vh - 60px);
    min-height: 900px;
    margin-top: 60px;
    overflow: hidden;
    justify-content: space-between;
    .hello {
        flex-grow: 1;
        opacity: 0;
        margin-left: 150px;
        margin-top: 150px;
        animation: showText 1s ease-in-out 0.4s forwards;
        * {
            background-color: var(--background);
            opacity: 0.9;
            width: fit-content;
            padding: 2px 20px;
            color: var(--text);
            font-size: 60px;
        }
    }
    .rightModule {
        border-left: solid 1px rgba($color: #4b6b81, $alpha: 0.5);
        box-shadow: 0 1px 3px rgba($color: #000305, $alpha: 0.5);
        width: 40%;
        height: 100%;
        overflow: hidden;
        transform: translateX(600px);
        animation: showRightModule 0.4s ease-in-out forwards 0.3s;

        .topElement {
            border-bottom: var(--border);
            box-shadow: var(--boxshdw);
            height: 40%;
            background-color: rgba($color: #000305, $alpha: 0.9);
            display: flex;
            padding: 6%;
            justify-content: space-between;
            align-items: center;

            .textContainer {
                width: 50%;

                h2 {
                    margin-bottom: 10px;
                    font-size: 32px;
                }

                p {
                    font-size: 20px;
                }

                * {
                    color: var(--dmtext);
                }
            }

            .photoContainer {
                background-color: var(--background);
                border-radius: 50%;
                opacity: 0.9;
                height: 200px;
                width: 200px;
                border: solid;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: all 0.15s;

                &:hover {
                    transform: scale(1.1);
                }

                &:hover img {
                    transform: scale(1.7);
                }

                img {
                    transition: all 0.5s;
                    margin-top: 20px;
                    width: 100%;
                    transform: scale(1.5);
                    height: auto;
                    object-fit: cover;
                }
            }
        }
        .bottomElement {
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            backdrop-filter: blur(10px);

            &:hover img {
                transform: scale(1.5);
            }

            img {
                margin-bottom: -4px;
                position: relative;
                height: auto;
                width: 100%;
                object-fit: contain;
                transition: all 0.8s ease-in-out;
            }

            .textElement {
                margin-top: -60px;
                z-index: 99;
                padding: 10px 0;
                height: 64px;
                width: 100%;
                background-color: var(--background05);
                .title {
                    padding-left: 6%;
                    font-size: 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .fa-gear {
                        font-size: 26px;
                        margin-top: 4px;
                        animation: gearRotation 5s linear infinite;
                    }
                    h2 {
                        margin-right: 20px;
                        font-size: 32px;
                    }

                }
            }
        }
    }
}

//keyframes animation 
@keyframes gearRotation {
    0% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@keyframes showRightModule {
    0% {
        opacity: 0;
        transform: translateX(600px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}