@keyframes colorAnimation {
    0% {
        color: #f0cb8f;
        /* Exemple de couleur pastel */
    }

    20% {
        color: #c9f0e9;
        /* Exemple de couleur pastel */
    }

    40% {
        color: #f3cfcf;
        /* Exemple de couleur pastel */
    }

    60% {
        color: #e2b8e6;
        /* Exemple de couleur pastel */
    }

    80% {
        color: #e3f8d1;
        /* Exemple de couleur pastel */
    }

    100% {
        color: #f8ead4;
        /* Revenir à la première couleur pastel */
    }
}


.homeContainer {
    display: flex;
    height: 1000px;
    margin-top: 60px;
    overflow: hidden;
    justify-content: space-between;
    border-bottom: solid 1px rgba($color: #4b6b81, $alpha: 0.5);
    box-shadow: 0 1px 3px rgba($color: #000305, $alpha: 0.5);

    .bgContainer {
        min-width: 100%;
        position: fixed;
        height: 100%;
        margin-top: -60px;
        transform: scale(1.3);
        filter: blur(2px);
        z-index: -1;

        img {
            object-fit: cover;
        }
    }

    .hello {
        margin-left: 150px;
        height: fit-content;
        margin-top: 150px;

        * {
            background-color: var(--dmbackground);
            opacity: 0.9;
            padding: 2px 20px;
            color: var(--dmtext);
            width: fit-content;
            font-size: 60px;
        }
    }

    .rightModule {
        border-left: solid 1px rgba($color: #4b6b81, $alpha: 0.5);
        box-shadow: 0 1px 3px rgba($color: #000305, $alpha: 0.5);
        width: 600px;
        height: 100%;
        overflow: hidden;

        .topElement {
            border-bottom: solid 1px rgba($color: #4b6b81, $alpha: 0.5);
            box-shadow: 0 1px 3px rgba($color: #000305, $alpha: 0.5);
            height: calc(100% - 600px);
            background-color: rgba($color: #000305, $alpha: 0.9);
            width: 600px;
            display: flex;
            padding: 20px;
            justify-content: space-between;
            align-items: center;

            .textContainer {
                width: 50%;

                h2 {
                    margin-bottom: 10px;
                    font-size: 32px;
                    animation: colorAnimation 16s infinite;
                }
                p {
                    font-size: 20px;
                }

                * {
                    color: var(--dmtext);
                }
            }

            .photoContainer {
                background-color: var(--background);
                border-radius: 50%;
                opacity: 0.9;
                height: 200px;
                width: 200px;
                border: solid;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                img {
                    margin-top: 20px;
                    width: 100%;
                    transform: scale(1.5);
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .bottomElement {
            width: 600px;
            height: 600px;
            overflow: hidden;
            backdrop-filter: blur(10px);

            &:hover img {
                transform: scale(1.05);
                filter: blur(1px);
            }

            img {
                position: relative;
                margin-bottom: -580px;
                height: 520px;
                width: 520px;
                object-fit: cover;
                transition: all 0.2s;
            }

            .textElement {
                * {
                    color: var(--dmtext);
                    background-color: var(--dmbackground);
                }

                position: relative;
                z-index: 10;

                .title {
                    width: fit-content;
                    font-size: 14px;
                    padding: 2px 10px 2px 20px;
                    box-shadow: 10px 0 0 var(--background), 20px 0 0 var(--dmbackground);

                    display: flex;
                    align-items: center;

                    h2 {
                        margin-right: 6px;
                        font-size: 32px;
                    }
            
                }
            }
        }
    }
}