.homeContainer {
  display: flex;
  height: calc(100vh - 60px);
  max-height: 1100px;
  margin-top: 60px;
  overflow: hidden;
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .homeContainer {
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .homeContainer {
    flex-direction: column;
    height: auto;
  }
}
.homeContainer .hello {
  flex-grow: 1;
  opacity: 0;
  margin: 7% 0 0 7%;
  animation: showText 1s ease-in-out 0.4s forwards;
}
@media only screen and (max-width: 1320px) {
  .homeContainer .hello {
    margin: 7% 0 0 3%;
  }
}
@media only screen and (max-width: 767px) {
  .homeContainer .hello {
    margin: 20% auto;
  }
}
.homeContainer .hello * {
  background-color: var(--background);
  opacity: 0.9;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 20px;
  color: var(--text);
  font-size: 60px;
}
@media only screen and (max-width: 1320px) {
  .homeContainer .hello * {
    font-size: 40px;
  }
}
@media only screen and (max-width: 490px) {
  .homeContainer .hello * {
    font-size: 36px;
  }
}
@media only screen and (max-width: 400px) {
  .homeContainer .hello * {
    font-size: 30px;
  }
}
.homeContainer .rightModule {
  border-left: solid 1px rgba(75, 107, 129, 0.5);
  box-shadow: 0 1px 3px rgba(0, 3, 5, 0.5);
  width: 40%;
  height: 100%;
  overflow: hidden;
  transform: translateX(600px);
  animation: showRightModule 0.4s ease-in-out forwards 0.3s;
}
@media only screen and (max-width: 1023px) {
  .homeContainer .rightModule {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .homeContainer .rightModule {
    width: 100%;
  }
}
.homeContainer .rightModule .topElement {
  border-bottom: var(--border);
  box-shadow: var(--boxshdw);
  height: 40%;
  background-color: rgba(0, 3, 5, 0.9);
  display: flex;
  padding: 6%;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  .homeContainer .rightModule .topElement {
    padding: 3%;
  }
}
@media only screen and (max-width: 767px) {
  .homeContainer .rightModule .topElement {
    margin-bottom: 20px;
    border-top: var(--border);
  }
}
.homeContainer .rightModule .topElement .textContainer {
  width: 50%;
}
@media only screen and (max-width: 1023px) {
  .homeContainer .rightModule .topElement .textContainer {
    width: 60%;
  }
}
.homeContainer .rightModule .topElement .textContainer h2 {
  margin-bottom: 10px;
  font-size: 32px;
}
@media only screen and (max-width: 1023px) {
  .homeContainer .rightModule .topElement .textContainer h2 {
    font-size: 24px;
  }
}
.homeContainer .rightModule .topElement .textContainer p {
  font-size: 20px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1320px) {
  .homeContainer .rightModule .topElement .textContainer p {
    font-size: 16px;
  }
}
.homeContainer .rightModule .topElement .textContainer .resumeBtn {
  display: inline-block;
  padding: 6px 12px;
  background-color: var(--accent);
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.2s;
  cursor: pointer;
}
.homeContainer .rightModule .topElement .textContainer .resumeBtn:hover {
  transform: scale(1.05);
}
.homeContainer .rightModule .topElement .textContainer * {
  color: var(--dmtext);
}
.homeContainer .rightModule .topElement .photoContainer {
  background-color: var(--background);
  border-radius: 50%;
  opacity: 0.9;
  height: 260px;
  width: 260px;
  border: var(--border);
  box-shadow: var(--boxshdw);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s;
}
@media only screen and (max-width: 1320px) {
  .homeContainer .rightModule .topElement .photoContainer {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 1023px) {
  .homeContainer .rightModule .topElement .photoContainer {
    height: 180px;
    width: 180px;
  }
}
@media only screen and (min-width: 763px) and (max-width: 1023px) {
  .homeContainer .rightModule .topElement .photoContainer {
    height: 150px;
    width: 150px;
  }
}
.homeContainer .rightModule .topElement .photoContainer:hover {
  transform: scale(1.1);
}
.homeContainer .rightModule .topElement .photoContainer:hover img {
  transform: scale(1.6);
}
.homeContainer .rightModule .topElement .photoContainer img {
  transition: all 1s;
  margin-top: 20px;
  width: 100%;
  transform: scale(1.5);
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.homeContainer .rightModule .bottomElement {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media only screen and (max-width: 767px) {
  .homeContainer .rightModule .bottomElement {
    margin-bottom: 20px;
    height: 300px;
  }
}
.homeContainer .rightModule .bottomElement:hover img {
  transform: scale(1.5);
}
.homeContainer .rightModule .bottomElement img {
  margin-bottom: -4px;
  position: relative;
  height: auto;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.8s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .homeContainer .rightModule .bottomElement img {
    height: 100%;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.homeContainer .rightModule .bottomElement .textElement {
  position: absolute;
  z-index: 99;
  top: 10px;
  padding: 10px 0;
  height: 64px;
  width: 100%;
  background-color: var(--background);
}
.homeContainer .rightModule .bottomElement .textElement .title {
  padding-left: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeContainer .rightModule .bottomElement .textElement .title .fa-gear {
  font-size: 26px;
  margin-top: 4px;
  animation: gearRotation 5s linear infinite;
}
.homeContainer .rightModule .bottomElement .textElement .title h2 {
  margin-right: 20px;
  font-size: 32px;
}
@media only screen and (max-width: 1023px) {
  .homeContainer .rightModule .bottomElement .textElement .title h2 {
    font-size: 24px;
  }
}

@keyframes gearRotation {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showRightModule {
  0% {
    opacity: 0;
    transform: translateX(600px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=home.css.map */