.contactContainer {
    height: calc(100vh - 103px);
    min-height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .message {
        width: 350px;
        height: 100%;
        padding: 80px 20px 0 40px;
        color: var(--dmtext);
        h2 {
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
    .formContainer {
        flex-grow: 1;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
            width: 72%;
            height: 80%;
            display: flex;
            flex-direction: column;
            input, textarea {
                background-color: var(--background);
                border: none;
                opacity: 0.7;
                padding: 5px;
                font-size: 20px;
                transition: all 0.5s;
                font-weight: 500;
                &:focus {
                    opacity: 1;
                    box-shadow: 0px 0px 3px #192531;
                    outline: none;
                }
            }
            label {
                font-size: 20px;
                background-color: var(--dmbackground);
                color:var(--dmtext);
                width: fit-content;
                padding: 0 10px;
                margin-bottom: 2px;
            }
            input {
                margin-bottom: 10px;
            }
            button {
                margin: 10px auto 0 auto;
                width: fit-content;
                padding: 5px 10px;
                color: var(--dmtext);
                border: none;
                font-size: 30px;
                background-color: var(--dmbackground);
                transition: all 0.15s;
                box-shadow: 0 0 2px rgba($color: #FFFFFF, $alpha: 0.5);
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .socialContainer {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 100%;
        border-left: solid 1px rgba(75, 107, 129, 0.5);
        box-shadow: -1px 0 3px rgba(0, 3, 5, 0.5);
        .socialIconLink {
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: var(--background);
            }
            &:hover .socialIcons {
                color: var(--text);
                transform: scale(1.2);
            }
            .socialIcons {
                transition: all 0.2s ease-in-out;
                color: var(--dmtext);
                font-size: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .mail {
                display: flex;
                &:hover .fa-copy {
                    opacity: 1;
                }
                &:hover .enveloppe {
                    opacity: 0;
                }
            }
            .fa-copy {
                margin-left: -100%;
                opacity: 0;
            }
        }
    }
}