@keyframes langBtnAnim {
    0% {
        filter: grayscale(0);
    }

    50% {
        filter: grayscale(0.6);
    }

    100% {
        filter: grayscale(0);
    }
}

@keyframes showHeader {
    0% {
        opacity: 0.5;
        transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@mixin headBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px 10px 2px 2px;
    border-radius: 24px;
    background-color: var(--text);
    transition: all 0.15s;

    &:hover {
        transform: scale(1.03);
    }
    :nth-child(1) {
        font-size: 25px;
        margin-right: 8px;
        background-color: var(--background);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        font-weight: 600;
        color: var(--background);
    }
}

header {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 20px 0 0;
    height: 60px;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    box-shadow: var(--boxshdw);
    animation: showHeader 0.4s ease-in-out forwards;

    * {
        color: var(--dmtext);
    }
    .openAnimSidePannel {
        @media only screen and (max-width: 1023px) {
            height: 100vh;
          }
    }
    .elements {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 1023px) {
            transition: all 0.5s;
            width: 0;
            height: 100%;
            background-color: var(--background);
            align-items: start;
            flex-direction: column;
          }
          
        .navIcon {
            font-size: 26px!important;
            @media only screen and (max-width: 1023px) {
                margin: 18px 0 36px 0px;
              }
            padding: 0 20px;  
            display: flex;
            margin-right: 20px;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
            }
        }
        nav {
            padding: 0 20px;
            margin-top: -2px;
            display: flex;
            @media only screen and (max-width: 1023px) {
                flex-direction: column;
                transform: translateX(-180px);
                transition: all 0.2s ease-in-out;
              }
              
            @media only screen and (min-width: 1024px) {
                margin-top: -2px;
                transform: translateX(-540px);
                transition: all 0.5s;
            }

            a {
                margin-left: 10px;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 23px;
                display: block;
                transition: all 0.2s;
                @media only screen and (max-width: 1023px) {
                    margin-bottom: 6px;
                    padding: 2px 5px;
                    background-color: var(--background);
                    border: var(--border);
                  }
                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .openAnim {
            @media only screen and (min-width: 1024px) {
                transform: translateX(-40px);
            }
            @media only screen and (max-width: 1023px) {
                transform: translateX(-20px);
              }
              
        }

        .closeAnim {}

    }

    .socialIcons {
        display: flex;
        align-items: center;

        .langSwitch {
            @include headBtn();

        }

        .langSwitchAnim {
            animation: langBtnAnim 0.5s ease-in-out;
        }

        .mail {
            margin-left: 20px;
            @include headBtn()
        }

        .greenBg {
            background-color: #adf6b1 !important;
        }
    }
}

.headerIcons {
    font-size: 36px;
    transition: all 0.3s;
    @media only screen and (max-width: 767px) {
        font-size: 26px;           
    }
    
    &:hover {
        transform: scale(1.15);
    }
}
.linkedinLink {
    margin-left: 20px;
    
}