@keyframes widthOpen {
    0% {
        opacity: 0.1;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 410px;
    }
}

@keyframes widthClose {
    0% {
        opacity: 1;
        width: 410px;
    }

    100% {
        opacity: 0.1;
        width: 0;
    }
}

@keyframes langBtnAnim {
    0% {
        filter: invert(0);
    }

    50% {
        filter: invert(1);
    }

    100% {
        filter: invert(0);
    }
}


// #52094e

@mixin headBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px 10px 2px 2px;
    border-radius: 24px;
    background-color: var(--background);
    transition: all 0.15s;
    &:hover {
        transform: scale(1.03);
    }
    :nth-child(1) {
        font-size: 25px;
        margin-right: 8px;
        background-color: var(--dmbackground);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        font-weight: 600;
        color: var(--text);
    }
}


header {
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 20px;
    height: 60px;
    margin-bottom: 60px;
    background-color: var(--dmbackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba($color: #4b6b81, $alpha: 0.5);
    box-shadow: 0 1px 3px rgba($color: #000305, $alpha: 0.5);

    * {
        color: var(--dmtext);
    }

    .elements {
        display: flex;
        align-items: center;

        .navIcon {
            margin-right: 20px;
            cursor: pointer;
        }

        .openAnim {
            animation: widthOpen 0.2s ease-in-out forwards;
        }

        .closeAnim {
            animation: widthClose 0.2s ease-in-out forwards;
        }

        nav {
            overflow: hidden;
            margin-top: -2px;
            width: 0;
            display: flex;

            a {
                margin-left: 10px;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 23px;
                display: block;
                transition: all 0.2s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .socialIcons {
        display: flex;
        align-items: center;

        .langSwitch {
            @include headBtn(); 
        
        }
        .langSwitchAnim {
            animation: langBtnAnim 0.5s ease-in-out;
        }

        .mail {
            margin-left: 20px;
            @include headBtn()
        }
        .greenBg {
            background-color: #adf6b1!important;
        }
    }
}

.headerIcons {
    font-size: 25px;
    transition: all 0.3s;
    margin-left: 20px;

    &:hover {
        transform: scale(1.15);
    }
}