footer {
    background: transparent;
    width: fit-content;
    margin: auto;
    height: 40px;
    margin-top: -38px;
    p {
        background: var(--dmbackground);
        padding: 10px 50px;
        color: var(--dmtext);
    }
}