:root {
    --text: #f1f6f9;
    --background: #000305;
    --background05: rgba(0, 3, 5, 0.5);
    --primary: #a8bdcc;
    --secondary: #111e27;
    --accent: #2e4231;
    --accentLight : #b4cbb7;
    --border: solid 1px rgba(75, 107, 129, 0.7);
    --boxshdw: 0 1px 3px rgba(0, 3, 5, 0.5);
}

html {
    
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--accent);
}

* {
    box-sizing: border-box;
    color: var(--text);
    padding: 0;
    margin: 0;
}
.unavailable {
    filter: grayscale(1);
    cursor: not-allowed !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
    font-family: 'Playfair Display', serif;
    color: var(--text);
    text-decoration: none;
}

p,
div,
span,
textarea,
input,
label,
button {
    font-family: 'Lato', sans-serif;
    color: var(--text);
    font-weight: 300;
    font-size: 20px;
}

/* ScrollBar  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--text);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}