:root {
    --text: #0b161e;
    --background: #fafdff;
    --primary: #334857;
    --secondary: #d8e5ee;
    --accent: #4b6b81;
    --dmtext: #f1f6f9;
    --dmbackground: #000305;
    --dmprimary: #a8bdcc;
    --dmsecondary: #111e27;
    --dmaccent: #7e9eb4;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

html {

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    color: var(--text);
    padding: 0;
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
    font-family: 'Playfair Display', serif;
    color: var(--color1);
    text-decoration: none;
}

p,
div,
span,
textarea,
input,
label,
button {
    font-family: 'Lato', sans-serif;
    color: var(--color1);
    font-weight: 300;
}

/* ScrollBar  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--dmbackground);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}